@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@500&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lobster', cursive;
/* font-family: 'Playfair Display', serif; */
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #ddd;
}
.row{
    width: 100%;
    padding: 50px 100px;
}
.image-section{
    width: 30%;
    float: left;
    margin-top:-90px ;

}
.image-section img{
width: 100%;
height: auto;
}
.content{
    width: 60%;
    float: left;
    margin-left: 50px;
}
.content h1{
    font-size: 90px;
    letter-spacing: 3.5px;
    margin-top: 25px;
    color: #222;
}
.content h2{
    font-style: 60px;
    font-family: sans-serif;
    color: red;
    margin-top: 25px;
}
.content p{
    font-size: 20px;
    font-family: serif;
    margin-top: 10px;
    line-height: 1.5;
}
@media screen and (max-width:768px){
    .image-section{
        width: 100%;
        float: none;
    }
    .content{
        width: 100%;
        float: none;
        margin-left: 0px;
    } 
    .content h1{
        font-size: 60px;
        letter-spacing: 2px;
        margin-top: 30px;
        color: #222;
    }
    .content h2{
        font-style: 30px;
      
    }
    .content p{
        font-size: 18px;
       
    }
}

button{
    background-color: red;
    border: none;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    margin-left: 100px;
    margin-top: 80px;
    cursor: pointer;
    font-size: larger;
}
